
#marquee{
	width 580px
	padding 20px
	background white
	border 1px solid #ccc
	border-radius 5px
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.08);
	.title{
		color:#337ab7;
		margin-bottom: 4px;
	}
	.viewer{
		width 100%
		height 46vh
		max-height 800px
		overflow hidden
		position relative
		margin-bottom: 4px;
		user-drag none
		user-select none
		-moz-user-select none
		-webkit-user-drag none
		-webkit-user-select none
		-ms-user-select none
		background: #f8f8f8;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		img{
			width 100%
			height 100%
			object-fit contain
		}
		.cropper{
			position absolute
			border 1px dashed white
		}
	}
	.progress{
		height 4px
		border-radius 0
		margin-bottom: 6px;
	}
	.settings{
		text-align: left;
		label, select, option, input{
			font-size .8em;
		}
		label, select, input{
			margin-right 8px
		}
		input{
			width: 77px;
		}
		input.h{
			margin-right 0
		}
		.style{
			width:100px;
		}
		.color{
			width:90px;
		}
		margin-bottom:6px;
	}
	.btn{
		width: 49.5%
		display inline-block
	}
}
