html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px;
}
/*
	navigation
*/
.navbar .btn {
  min-width: 100px;
  margin-right: 5px;
}
.navbar>.container .navbar-brand {
  margin-left: -8px;
}
.demo {
  margin: 40px;
  width: 580px;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
}
.demo .title {
  color: #337ab7;
  margin-bottom: 4px;
}
.demo .viewer {
  width: 100%;
  height: 50vh;
  max-height: 800px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4px;
  background: #f8f8f8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.demo .viewer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.demo .viewer .marquee {
  z-index: 9999;
  position: absolute;
  border: 1px dashed #00f;
}
.demo .progress {
  border-radius: 0;
  margin-bottom: 6px;
}
.demo .thumb-settings {
  text-align: left;
  margin-bottom: 6px;
}
.demo .thumb-settings label,
.demo .thumb-settings select,
.demo .thumb-settings option {
  font-size: 0.8em;
}
.demo .thumb-settings label,
.demo .thumb-settings select,
.demo .thumb-settings input {
  margin-right: 8px;
}
.demo .thumb-settings input {
  width: 77px;
}
.demo .thumb-settings input.h {
  margin-right: 0;
}
.demo .thumb-settings .style {
  width: 100px;
}
.demo .thumb-settings .color {
  width: 90px;
}
.demo .media-settings select {
  width: 90px;
  float: left;
  margin-right: 6px;
  text-indent: 15px;
}
.demo .btn {
  width: 49.5%;
  float: left;
}
.demo .btn-upload {
  margin-left: 1%;
}
.marquee-animated {
  border: 4px solid transparent;
  background: linear-gradient(0, 0) padding-box, repeating-linear-gradient(-45deg, #f00 0, #f00 25%, transparent 0, transparent 50%) 0/0.6em 0.6em;
  animation: ants 12s linear infinite;
  font: 100%/1.6 Baskerville, Palatino, serif;
}
.gallery {
  margin-top: 70px;
  height: 100%;
  border-width: 1px;
  padding: 20px 20px;
  border-style: solid;
  border-color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}
.gallery h3,
.gallery h4 {
  margin: 0 0 6px 0;
}
.gallery .btn {
  width: 82%;
}
/*
	gallery
*/
#grid .column {
  float: left;
}
#grid .size-1of5 {
  width: 20%;
}
#grid .wrap {
  padding: 0;
  margin-left: 1px;
  margin-bottom: 1px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}
#grid .wrap .item {
  padding: 10px;
}
#grid .wrap .item img {
  width: 100%;
}
#grid .wrap .item:hover {
  border-color: #fff;
  background-color: #fff;
}
#grid[data-columns]::before {
  content: '5 .column.size-1of5';
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
}
.modal-donate .modal-dialog {
  width: 460px;
}
.modal-donate .radio-inline {
  margin-left: 34px;
}
.modal-donate .thanks {
  float: right;
  font-weight: bold;
  margin: 24px 10px 20px 0;
}
.modal-donate .modal-footer {
  clear: both;
}
@-moz-keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
@-o-keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
@keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
