
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		a.navbar-brand(href='#') pushpop
		ul.navbar-nav.ml-auto
			li.nav-item
				a(href='https://github.com/braitsch/pushpop.js').btn.btn-outline-success Documentation
			li.nav-item
				button.btn.navbar-btn.btn-outline-success#donate-btn Buy Me A Beer

	.header
		| pushpop is browser based image crop tool &amp; thumbnail generator similar to the marquee/crop tool in Photoshop.
	.demo
		.title Click &amp; Drag to Define Thumbnail
		.viewer
			img
		.progress
			.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100")
		.thumb-settings.form-inline
			.form-group
				label.ts Style
				select.form-control.style
					option Normal
					option Fixed Ratio
					option Fixed Size
				label Color
				select.form-control.color
					option Black
					option White
					option Red
					option Blue
					option Yellow
					option Gray
					option Orange
					option Green
					option Purple
				label Width
				input(disabled).w.form-control
				label Height
				input(disabled).h.form-control
		input(type='file' accept='.png, .jpg, .jpeg, .gif' style="display: none").file-dialog
		button.btn.btn-success.btn-select Select Image
		button.btn.btn-primary.btn-upload Generate Thumbnail

	p All files uploaded using this demo are <b>automatically deleted after three minutes</b>.

	.footer

	include modal-pop
	include modal-donate


