
extends layout

block content
	.header
		img(src='/img/logo.png' alt='Marquee').logo
		| A simple, browser based image cropping tool similar to the marquee tool in Photoshop.
	.content
		#marquee
			.viewer
				img
				.cropper
			.progress
				.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100")
			.settings.form-inline
				.form-group
					label.ts Style
					select.form-control.style
						option Normal
						option Fixed Ratio
						option Fixed Size
					label Color
					select.form-control.color
						option Black
						option(selected) White
						option Red
						option Blue
						option Yellow
						option Gray
						option Orange
						option Green
						option Purple
					label Width
					input(type='number' disabled).w.form-control
					label Height
					input(type='number' disabled).h.form-control
			input(type='file' accept='.png, .jpg, .jpeg, .gif' style="display: none").file-dialog
			button.btn.btn-success.btn-select Select Image
			button.btn.btn-primary.btn-upload Generate Thumbnail
	.footer
		a(href='https://braitsch.io') made by braitsch
	include modal-download


