
.modal.modal-donate.fade
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Support This Project
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				| Hi! If this project is helping you out please consider making a small donation to support my work. Any amount is greatly appreciated and goes directly towards the development and maintance of <a href='https://github.com/braitsch' target='_blank'>all of my open source projects.</a>
				.radios
					.custom-control.custom-radio.custom-control-inline
						input#radio1.custom-control-input(type='radio', name='donationRadios' value='100')
						label.custom-control-label(for='radio1') $1
					.custom-control.custom-radio.custom-control-inline
						input#radio2.custom-control-input(type='radio', name='donationRadios' value='500' checked='checked')
						label.custom-control-label(for='radio2') $5
					.custom-control.custom-radio.custom-control-inline
						input#radio3.custom-control-input(type='radio', name='donationRadios' value='1000')
						label.custom-control-label(for='radio3') $10
					.custom-control.custom-radio.custom-control-inline
						input#radio4.custom-control-input(type='radio', name='donationRadios' value='2500')
						label.custom-control-label(for='radio4') $25
					.custom-control.custom-radio.custom-control-inline
						input#radio5.custom-control-input(type='radio', name='donationRadios' value='5000')
						label.custom-control-label(for='radio5') $50
			.modal-footer
				button(type='button' data-dismiss='modal').btn.btn-outline-dark Cancel
				button(type='button').btn.btn-primary.btn-donate Donate
